.logo {
    width: 250px;
}

.about {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.text {
    padding: 20px;
    font-size: 18px;
    color: #4a99b7;
    border: 3px solid #e7e7e7;
    border-radius: 6px;
    margin-left: 10px;
}