* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  padding: 8px 15px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0px;
  margin-right: 3px;
  border: none;
  font-weight: bold;
  color: #ffffff;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  padding-left: 15px;
  border: 1px solid rgb(190, 190, 190);

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &:hover {
    opacity: 0.8;
  }
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .label {
    font-size: 14px;
    color: #828282;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.primary {
  background: #1f6cff;
}

.danger {
  background-color: #ff1f1f;
}

.main {
  background-color: #faf9f9;
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

.navbar {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;

  a {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #828282;
    margin-right: 1px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.7;
      color: #222222;
    }
  }
}

@import "./todo.scss";
